#navbar{
  height: 50px;
  width: 600px;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
  margin: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}